GEMINI_API_KEY=apikeyhere

SCRAPER_MAX_PAGES=5
SCRAPER_CONCURRENCY=4
MIN_LEAD_SCORE=5
ENRICH_WITH_IRS990=1
ENRICH_CONCURRENCY=8
PRIORITY_TARGET_SECTORS=Healthcare,Education,Environment,Humanitarian,Animal Welfare

OUTPUT_DIR=output

POSTGRES_DSN=postgresql://user:password@localhost:5432/nonprofit_intel

CUSTOM_TARGET_URLS=https://www.charitynavigator.org/discover-charities/best-charities,https://thedotgood.net/ranking/2025-world-200-sgos/,https://www.idealist.org/en/organizations
